<button class="btn btn-outline-secondary" id="filter-button">
    Filter <img src="/images/Icons/Filter.png" style="height: 24px;" />
</button>
<input type="text" id="search-input" class="form-control" placeholder="<%= placeholder %>">


<style>
    #filter-button {
        color: lightgray;
    }
</style>